{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Delivery Details  {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="text-center">Sorry! You cannot select delivery method now.</h3>
        <div class="text-center">
            <!--<img src="{% static 'Shop/images/emptycart.png' %}" alt="" class="img-fluid img-thumbnail w-25"> 
            <h1> There is no Gift Card here!</h1> -->
        </div>

    </div>
</div>
{% endblock main-content %}